@import url(https://fonts.googleapis.com/css?family=Raleway:400,300italic,300,200italic,200,100,100italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/*=== FIN FUENTES ===*/

/*=== GENERALES ===*/

body {
  color: #504d5b;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  color: inherit;
}

img {
  vertical-align: sub;
}

/* checkbox */
label {
  position: relative;
  font-size: 0.8rem;
}
input[type="checkbox"] {
    margin: 0 15px 10px 0;
    visibility: hidden;
}

.row {
  position: relative;
}

.medium-3 {
    width: 24.4%;
}

.filtros input[type="checkbox"]:checked + label:after {
    background: #ED0707;
    border: 0;
}

.switch {
  margin-right: 12px;
}

.switch input + label {
  background: #ED0707;
}
.switch input:checked + label {
  background: #00a57b;
}
.config-gen-local .switch-paddle {
  cursor: pointer;
  display: block;
  position: relative;
  width: 4rem;
  height: 2rem;
  transition: all 0.25s ease-out;
  border-radius: 0;
  color: inherit;
  font-weight: inherit;
}
.switch-active, .switch-inactive {
    position: absolute;
    top: 51%;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.switch-active {
    left: 8%;
    display: none;
}
.switch-inactive {
    right: 115%;
}

.filtros input[type="checkbox"] + label:after {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 0;
    border-radius: 20px;
    border: 1px solid #ccc;
    background: white;
    visibility: visible;
    position: absolute;
    top: 2px;
    left: -20px;
}
/* */

.ocultar {
    display: none;
}

.left {
    float: left;
}

.rigth {
    float: right;
}

.overflow {
    overflow: hidden;
}

.reset {
    margin: 0;
    padding: 0;
}

main {
    position: relative;
    padding: 3.125em 0 0 0;
}

/*=== FIN GENERALES ===*/

/*=== NAVEGADOR ===*/

.nav-orange, .nav-orange * {
    background-color: #ED0707 !important;
    background-color: #ED0707;
}

.perfil-name-nav {
    margin: 10px 10px;
    font-size: 14px;
    color: white;
    font-family: Helvetica, sans-serif;
    float: left;
    text-transform: none;
    font-weight: bold;
}

.top-bar {
    background-color: #ED0707;
}

.top-bar-section ul li {
    background-color: #ED0707;
    text-align: center;
}

.top-bar.expanded .title-area {
    background: #ED0707;
}

.top-bar.expanded .toggle-topbar a span::after {
    box-shadow: 0 0 0 1px white, 0 7px 0 1px white, 0 14px 0 1px white;
}

.buscador {
    background-color: #ED0707 !important;
    width: 80% !important;
    box-shadow: none !important;
    float: left !important;
    border: 0 !important;
    color: white !important;
    top: 0 !important;
    border-radius: 15px !important;
}

img.perfilImg {
    height: 35px;
    float: left;
}

.img-post {
    margin-top: 8px;
    margin-right: 50px;
}

.icon-nav-bar {
    margin-top: 8px;
    margin-right: 10px;
}

/* Responsive */

#menu1, #menu2 {
  display: none;
}

.ocultar {
  display: none;
}
.ver {
  display: block;
}

.top-bar-section li:not(.has-form) a:not(.button), .top-bar-section li.active:not(.has-form) a:not(.button) {
  line-height: 1.6;
}

.tab-title.tabs-home-title, .tab-title.tabs-home-title.ocultar {
  display: block;
  margin-left: 2px;
}
.tab-title.tabs-home-title.ver {
  display: block;
}


/*=== FIN NAVEGADOR ===*/

/*=== HEADER ===*/

#header img {
    vertical-align: middle;
}

.shop_header {
    float: left;
    width: 100%;
}

.shop_header > img {
    height: 200px !important;
    width: 100%;
}

.shop_header .shop_bg {
    width: 100%;
    /* background-image: url(../img/header_gradient_gb.png); */
    background-repeat: repeat-x;
    position: absolute;
    top: 0px !important;
    left: 0 !important;
    height: 200px !important;
    box-shadow: 0px -50px 110px #252525 inset;
}

.shop_header .shop_info {
    /*margin-top: 10px;*/
    width: 100%;
    float: left;
    padding-left: 16px;
    margin-top: 35px;
/*padding-top: 88px;*/
}

.shop_header .shop_info .shop_schedule_inside {
    color: white;
    font-size: 14px;
    padding: 15px 0 0 0;
}

.shop_header .shop_info .shop_schedule_inside img {
    display: inline-block;
    width: auto;
}

.shop_header .shop_info .shop_schedule_inside p {
    font-size: 14px;
}

.shop_header .shop_info img {
    float: left;
    width: 160px;
}

.shop_header .shop_info .name_cat {
    float: left;
    padding: 66px 0 0 24px;
}

.shop_header .shop_info h2 {
  float: left;
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-shadow: 0 1px 2px #000;
  width: 100%;
  margin-bottom: 0px;
}

.shop_header .shop_info p {
  float: left;
  color: white;
  font-size: 20px;
  font-weight: 200;
  font-family: 'Raleway', sans-serif;
}

/*.shop_header .shop_schedule {
    padding: 15px 0 0 20px;
    display: none;
}*/

.shop_header .shop_schedule {
    /*padding: 87px 0 0 20px;*/
    display: block;
    padding: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

.shop_header .shop_schedule p {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
}

.shop_header .shop_header_data {
    /*position: relative;*/
    /*top: -159px;*/
    position: absolute;
    bottom: 0;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.shop_main-data .local-detalle {
    width: 48%;
    margin: 0 1%;
    padding: 17px 32px;
    min-height: 200px;
    margin-bottom: 20px;
}

.shop_main-data .local-detalle:last-child {
    width: 100%;
    min-height: inherit;
}

.shop_main-data .local-detalle h2 {
    font-size: 13px;
    text-transform: uppercase;
}

#header {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
    height: 200px !important;
    background: url('../img/local_home_bg.jpg') no-repeat;
    background-size: cover;
}

@media (min-width: 756px) {
    .shop_main-data .local-detalle {
        width: 23%;
        min-height: 172px;
    }

    .shop_header .shop_schedule_inside {
        display: none;
    }

    .shop_header .shop_schedule {
        padding: 85px 0 0 20px;
        display: block;
    }
}

@media (min-width: 1360px) {

    #header {
        height: auto;
    }

    .shop_header > img {
        height: 328px;
        width: 100%;
    }

    .shop_header {
        float: left;
        width: 100%;
    }

    .shop_header .shop_bg {
        top: 4px;
        left: 0;
        height: 100%;
    }

    .shop_header .shop_info img {
        float: left;
        width: 160px;
    }

    .shop_header .shop_info .name_cat {
        float: left;
        padding: 66px 0 0 24px;
    }

    .shop_header .shop_schedule {
        padding: 272px 0 0;
    }

    /*.shop_header .shop_schedule p {
        color: white;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Raleway', sans-serif;
    }*/

    .shop_header .shop_header_data {
        /*top: -340px;*/
    }

    #content .content_nav {
        margin: 0;
        padding: 0 0 0 14px;
        list-style-type: none;
        width: 292px;
    }

    #content .content_nav li {
        padding: 10px 0 15px 32px;
        border-bottom: 1px solid white;
        background-color: #2A3541;
        width: 100%;
        height: auto;
        float: none;
        text-align: left;
    }

    #content .content_nav li a {
        display: inline-block;
        padding: 5px 0 0 0px;
        font-size: 14px;
        color: white;
        visibility: visible;
        width: inherit;
        height: inherit;
    }

    #content .content_nav li a span {
        display: inline-block;
        width: 34px;
        height: 34px;
        background: url(../img/local_nav.png);
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-right: 28px;
    }

    #content .content_nav li a.content_nav_1 span {
        background-position: 0 0;
    }

    #content .content_nav li a.content_nav_2 span {
        background-position: 0 -33px;
    }

    #content .content_nav li a.content_nav_3 span {
        background-position: 0 0;
    }

    #content .content_nav li a.content_nav_4 span {
        background-position: 0 -33px;
    }

    #content .content_nav li a.content_nav_5 span {
        background-position: 0 0;
    }

    #alta-productos ul.products li.sugerencias a {
        padding: 72px 20px;
    }
}

@media (min-width: 756px) {
    .shop_main-data .local-detalle {
        width: 23%;
        min-height: 9px;
    }

}

@media (min-width: 1024px) {

    .shop_main-data .local-detalle:last-child {
        width: 18%;
        min-height: 150px;
    }
}

/*=== FIN HEADER ===*/

/*=== BOTONES ===*/

.boton-naranja-full {
    border-radius: 0 !important;
    border: 0px;
    background: #ED0707;
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: 'Raleway Regular';
}

.boton-naranja-full:hover {
    background: #077000;
}

.boton-naranja {
    border-radius: 0 !important;
    border: 0px;
    width: 200px;
    background: #ED0707;
    color: white;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 10px !important;
    font-size: 0.9rem !important;
}

.boton-naranja-pequeno {
    border-radius: 0 !important;
    border: 0px;
    width: 140px;
    background: #ED0707;
    color: white;
    padding: 10px !important;
    font-size: 0.9rem;
}

.boton-verde {
    border-radius: 0 !important;
    border: 0px;
    width: 200px;
    background: #ED0707;
    color: white;
    padding: 10px;
    font-size: 0.9rem;
}

.ghost-button {
    border-radius: 0 !important;
    border: 2px solid #ED0707;
    background: rgba(255, 255, 255, 0.6);
    color: #ED0707 !important;
    padding: 10px;
    width: 100%;
    font-size: 1.1rem;
    font-family: 'Raleway';
    font-weight: bold;
}

.ghost-button:hover {
    background: #077000 !important;
    color: white !important;
}

.delete-product:hover {
    color: #222 !important;
}

.delete-product {
    color: #ED0707;
}

.working .btn-section, .btn-category {
    background-color: #ED0707;
    border: 1px solid #ED0707;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: none;
    font-family: Helvetica, sans-serif;
    padding: 15px 0px !important;
    width: 100%;
    font-size: 0.8em !important;
    text-align: center;
}

.boton-naranja:hover {
    background: #077000;
}

.btn-category:hover {
    background-color: #077000;
    border: 1px solid #077000;
    color: white;
}

.button-trash {
    float: right;
    margin-top: 20px;
    margin-right: 3px;
    color: #ED0707;
    font-size: 25px !important;
}

/*=== FIN BOTONES ===*/

/*=== LINK ===*/

.link-naranja {
    color: #ED0707;
}

.link-naranja:hover {
    color: black;
}

/*=== FIN LINK ===*/

/*=== NAVEGADOR VERTICAL ===*/

.store-tab .tabs .tab-title.active a {
    background-color: #ED0707;
}

.store-tab .tabs .tab-title.active a i {
    color: white;
}

.store-tab .tabs .tab-title.active .item-submenu a {
    background-color: transparent;
    color: gray;
    text-align: right !important;
    font-size: 11px;
    padding: 5px 0;
}

.store-tab .tabs .tab-title a {
    background-color: rgb(41, 53, 65);
    border-bottom: 0px;
    color: #fff;
    font-size: 14px;
    margin-bottom: 2px;
    padding: 10px;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
}

.store-tab .tabs {
    margin-right: 10px;
    font-weight: bold;
    width: auto;
    max-width: inherit;
}

.store-tab .tabs a .fa {
    color: #ED0707;
    margin-right: 5px;
    font-size: 1.3em;
    width: 20px;
    float: left;
    text-align: center;
}

.store-name a {
    font-size: 0.6em;
}

.store-tab .content {
    padding: 0;
}

.store-tab {
    margin-top: 5px;
    */;
}

.store-tab .content .panel {
    background-color: white;
    border-radius: 0px !important;
    border: 2px solid #D5DDF2;
}

.store-tab .content .panel h5 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.store-tab #formset {
    width: 100%;
}

/*=== FIN NAVEGADOR VERTICAL ===*/

/*=== FORM ===*/

.select-uniresto:hover {
    border: 2px solid #576A7D !important;
    background-color: transparent !important;
}

.select-uniresto {
    border: 2px solid #576A7D !important;
    background-color: transparent !important;
    color: #576A7D;
    height: 40px;
}

.input-text {
    height: 40px !important;
    border: 2px solid #576A7D !important;
    box-shadow: none !important;
    padding-left: 1rem !important;
}

option {
    color: #777;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #777;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #777;
}

::-webkit-textarea-placeholder { /* WebKit, Blink, Edge */
    color: #777;
}

:-ms-textarea-placeholder { /* Internet Explorer 10-11 */
    color: #777;
}

textarea {
    border: 2px solid #576A7D;
    box-shadow: none;
    padding-left: 1rem;
}

table tbody tr td {
  text-align: center;
}

/*=== FIN FORM ===*/
.img-tit {
  vertical-align: top;
  margin-right: 10px;
}
.default_button {
  /*font-weight: bold;*/
  font-weight: 500;
}
/*=== BARRA ACCIONES ===*/

.acciones {
    width: 100%;
    /* position: fixed; */
    z-index: 10;
    /* top: 200px; */
}

.acciones ul {
    list-style: none;
    margin: 0;
    display: inline-flex;
}

.acciones ul li {
    text-align: center;
}

.acciones ul li img {
    width: 100%;
    max-width: 112px;
}

.acciones .texto {

}

.acciones ul li:nth-child(even) {
    background: #273C5B;
    /*padding: 5px 15px;*/
    height: 0;
}

.acciones ul li:nth-child(odd) {
    background: #314D77;
    height: 0;
    /*padding: 5px 15px;*/
}

.acciones .texto-acciones {
    text-decoration: none;
    display: none;
    font-size: 14px;
    color: #00a57b;
    background: white;
    padding: 12px 0;
    border-top: none;
}
.acciones #acciones1 {
  visibility: visible;
}

@media (min-width: 740px) {

    /*.acciones ul li:nth-child(even) {
        background: #273C5B;
        height: auto;
        padding: 5px 45px;
    }

    .acciones ul li:nth-child(odd) {
        background: #314D77;
        height: auto;
        padding: 5px 45px;
    }*/
}

/*================================================ MIN-WIDTH: 1024px  =======================================================*/

@media (min-width: 1024px) {

    .acciones {
        width: 85px;
        position: absolute;;
        z-index: 10;
        top: 152px;
    }

    .acciones ul {
        list-style: none;
        margin: 0;
        display: block;
        overflow: hidden;
        height: 48px;
        transition: ease 0.25s;
    }

    .acciones ul li {
        text-align: center;
        /*display: none;*/
    }
    .acciones .texto-acciones {
      display: block;
      cursor: pointer;
    }
    .acciones #acciones1 {
      display: block;
    }
    .acciones #acciones2 {
      padding: 12px 0;
      display: none;
    }



    .acciones .texto {

    }

    .acciones ul li {
      visibility: hidden;
    }

    .acciones ul li:nth-child(even) {
        /*background: #273C5B;*/
        background: #01d7a1;
        height: 0;
        /*padding: 5px 15px;*/
    }
      .acciones #acciones1, .acciones #acciones2 {
        height: 48px;
      }

    .acciones ul li:nth-child(odd) {
        /*background: #314D77;*/
        background: #00a57b;
        height: 0;
        /*padding: 5px 15px;*/
    }

    .texto-acciones {
        text-decoration: none;
        display: block;
        font-size: 14px;
        color: #6C8FC3;
        background: white !important;
        padding: 12px 0 !important;
        border-top: 2px solid #ED0707;
        text-align: center;
    }
}

/*=== FIN BARRA ACCIONES ===*/

/*=== TABS ===*/

.tabs-home {
    width: 100%;
    height: auto;
}

.tabs-home-title {
    width: 33.33%;
    border-top: 2px solid #ED0707;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.tabs-home-title > a {
    background-color: #273C5B !important;
    color: white !important;
    font-size: 14px !important;
    font-family: 'Helvetica' !important;
    text-align: center;
    padding: 10px 4px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tabs-home-title.active > a {

    background-color: #344B6D !important;
}

/*================================================ MIN-WIDTH: 480px  =======================================================*/

@media (min-width: 480px) {

    .tabs-home-title > a {
        padding: 15px 4px !important;
    }
}

/*================================================ MIN-WIDTH: 641px  =======================================================*/

@media (min-width: 641px) {
    .tabs-home-title > a {
        padding: 15px 4px !important;
    }
}

/*================================================ MIN-WIDTH: 1024px  =======================================================*/

@media (min-width: 1024px) {

    .header {
        height: 200px;
        margin: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: relative;
    }

    .tabs-content {
        width: 77%;
        max-width: 1024px;
        margin: 20px auto 0;
    }

    .tabs-content-full {
        width: 100%;
        max-width: 1024px;
        margin: 20px auto 0;
    }

    .tabs-home {
        width: 48%;
        margin-left: 52%;
        margin-top: -46px;
    }

    .tabs-home-title {
        width: 19.33%;
        border-top: none;
    }

    .tabs-home-title > a {
        background-color: #01D7A1 !important;
        color: white !important;
        font-size: 14px !important;
        font-family: 'Helvetica' !important;
        text-align: center;
        padding: 12px !important;
    }

    .tabs-home-title.active > a {
        background-color: #00A57B !important;
    }

}

/*=== FIN TABS ===*/

/*=== FLECHAS PASOS ===*/

.wizard-steps {
    margin: 20px 10px 40px 26px;
    padding-bottom: 10px;
    position: relative;
    clear: both;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.wizard-steps div {
    position: relative;
}

/* = STEP NUMBERS
----------------------------*/
.wizard-steps span {
    display: block;
    float: left;
    font-size: 10px;
    text-align: center;
    width: 20px;
    margin: 2px 5px 0px 0px;
    line-height: 15px;
    color: #ccc;
    background: #FFF;
    border: 2px solid #CCC;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-top: 3px;
}

/* = DEFAULT STEPS
----------------------------*/
.wizard-steps a {
    position: relative;
    display: block;
    width: auto;
    height: 24px;
    margin-right: 18px;
    padding: 0px 10px 0px 3px;
    float: left;
    font-size: 11px;
    line-height: 24px;
    color: #666;
    background: #F0F0F0;
    text-decoration: none;
    /*text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);*/
}

.wizard-steps a:before {
    width: 0px;
    height: 100%;
    border-top: 12px solid #F0F0F0;
    border-bottom: 12px solid #F0F0F0;
    border-left: 12px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: -11px;
}

.wizard-steps a:after {
    width: 0;
    height: 100%;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #F0F0F0;
    position: absolute;
    content: "";
    top: 0px;
    right: -11px;
}

/* = COMPLETED STEPS
----------------------------*/

.wizard-steps .completed-step a {
    color: white;
    background: #777;
}

.wizard-steps .completed-step a:before {
    border-top: 12px solid #777;
    border-bottom: 12px solid #777;
}

.wizard-steps .completed-step a:after {
    border-left: 12px solid #777;
}

.wizard-steps .completed-step span {
    border: 2px solid #ccc;
    color: #163038;
    text-shadow: none;
    margin-top: 3px;
}

/* = ACTIVE STEPS
----------------------------*/
.wizard-steps .active-step a {
    color: #ffffff;
    background: #ED0707;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.wizard-steps .active-step a:before {
    border-top: 12px solid #ED0707;
    border-bottom: 12px solid #ED0707;
}

.wizard-steps .active-step a:after {
    border-left: 12px solid #ED0707;
}

.wizard-steps .active-step span {
    color: #163038;
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
    text-shadow: none;
    border: 2px solid #A3C1C9;
    margin-top: 3px;
}

/* = HOVER STATES
----------------------------*/
.wizard-steps .completed-step:hover a, .wizard-steps .active-step:hover a {
    color: #fff;
    background: #ED0707;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.wizard-steps .completed-step:hover span, .wizard-steps .active-step:hover span {
    color: #8F061E;
}

.wizard-steps .completed-step:hover a:before, .wizard-steps .active-step:hover a:before {
    border-top: 12px solid #ED0707;
    border-bottom: 12px solid #ED0707;
}

.wizard-steps .completed-step:hover a:after, .wizard-steps .active-step:hover a:after {
    border-left: 12px solid #ED0707;
}

/*=== FIN FLECHAS PASOS ===*/
;

/*=== TITULOS ===*/

.title-food-box {
    padding: 0 5px 0 10px;
    color: #484848;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem !important;
    width: 65%;
}

.dotted-bottom {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10px;
    font-size: 23px;
    text-transform: uppercase;
    color: #484848;
    font-weight: normal;
}

.amigos .tabs dd > a, .amigos .tabs .tab-title > a {
    display: block;
    background-color: transparent;
    color: #777;
    font-size: 1.1rem;
    padding: 0;
    margin: 0 0 0 1.5rem;
}

.amigos .enc h3 {
    font-size: 0.9rem;
    color: #777;
    margin: 10px 0 0;
    float: left;
}

.amigos .box h5 {
    font-size: 0.9rem;
    color: #777;
    line-height: 1.2;
    margin: 5px 0 0;
}

#productos .custom-columns .filtros h2.main__title, #restos .custom-columns .filtros h2.main__title {
    /*font-size: 0.9rem;*/
    text-transform: uppercase;
    /* margin: 20px 0 1px 15px; */
    /*color: #777;*/
    color: #504d5b;
    font-weight: normal;
    font-family: Helvetica, sans-serif;
    font-size: 15px;
}

#productos .custom-columns .filtros .accordion .accordion-navigation > a,
#productos .custom-columns .filtros .accordion .accordion-navigation.active > a, #restos .custom-columns .filtros .accordion .accordion-navigation > a,
#restos .custom-columns .filtros .accordion .accordion-navigation.active > a {
    background: transparent;
    text-transform: uppercase;
    /*color: #777;*/
    /*font-size: 0.9rem;*/
    padding: 6px 0 10px 5px;
    font-weight: normal;
    border-bottom: 1px solid #d9dee4;
    position: relative;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#productos .custom-columns .filtros .accordion .accordion-navigation .filtro__opcion, #restos .custom-columns .filtros .accordion .accordion-navigation .filtro__opcion {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 0 20px;
    font-size: 0.9rem;
    color: #777;
}

.title-plato {

    font-size: 0.9rem;

    color: #777 !important;

    font-weight: bold;

    font-family: Helvetica, sans-serif;

    text-transform: uppercase;
}

/*=== FIN TITULOS ===*/

/* PANTALLA 07 */
.titulo-pedido-07 {
    text-transform: uppercase;
    font-weight: bold;
    color: #484848 !important;
    margin-bottom: 5px !important;
}

.text-pedido-07 {
    color: #777 !important;
    font-family: Helvetica, sans-serif !important;
    font-size: 14px !important;
}

.img-planeta-07 {
    width: 17px !important;
    height: 17px !important;
}

.img-plato-07 {

    width: 100% !important;

    height: 100% !important;

    max-width: 80px;

    margin-bottom: 15px;

    max-height: 80px;
}

.precio-total-pedido-07 {

    float: right !important;

    font-size: 18px !important;

    font-weight: bold;

    color: #ED0707 !important;
}

.precio-pedido-07 {
    color: #777 !important;
    font-weight: bold;
    float: right !important;
}

@media (max-width: 420px) {

    .foto-perfil {
        height: 75px;
        margin-top: 40px;
    }

}

@media (max-width: 450px) {
  /* Responsive */

  #menu1.tab-title.tabs-home-title  {
    display: block;
    width: 100%;
  }
  #menu2.tab-title.tabs-home-title  {
    width: 100%;
  }
  #menu1.tab-title.tabs-home-title > a, #menu2.tab-title.tabs-home-title > a {
    background: #ED0707 !important;
  }


  #menu1.tab-title.tabs-home-title.ocultar, #menu2.tab-title.tabs-home-title.ocultar, .tab-title.tabs-home-title, .tab-title.tabs-home-title.ocultar {
    display: none;
    width: 100%;
  }
  #menu2.tab-title.tabs-home-title.ver, .tab-title.tabs-home-title.ver {
    display: block;
  }

  .top-bar-section .has-dropdown > a::after {
    border: inset 5px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: rgba(255, 255, 255, 1) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 1.40625rem;
  }
  .top-bar-section .has-dropup > a::after {
    border: inset 5px;
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
    border-top-style: solid;
    margin-bottom: -2.5px;
    bottom: 1.40625rem;
    margin-right: 0.9375rem;
position: absolute;
right: 0;
  }

}

@media (max-width: 640px) {
    .margin-top-15 {
        margin-top: 15px;
    }
    .foto-perfil {
        height: 90px;
        width: 90px;
        border-radius: 100%;
        border: 2px solid white;
        margin-top: 20px;
    }

    .text-info-header {
        padding-top: 25px;
        padding-left: 35px;
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }

    .wizard-steps {
        height: 120px;
    }

    .wizard-steps a {
        width: 100%;
    }

    .tabs-home-title {
        width: 20%;
    }

    .mostrar-detalles .img-orden-naranja img {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .mostrar-detalles .img-orden-naranja {
        width: 25px;
        height: 18px;
        margin-top: 0;
        float: right;
    }

    .img-flecha {
        width: 20px !important;
        position: relative;
        margin-left: 50%;
        left: -10px;
        margin-top: 20px;
    }

    .mostrar-detalles {
        padding-top: 20px;
    }

    .wizard-steps {
        margin: 0px 10px 40px 10px;
        padding-bottom: 50px;
        padding: 0px;
        position: relative;
        clear: both;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }

    .accordion .accordion-navigation > a, .accordion .accordion-navigation.active > a {
        background: transparent;
        /* text-transform: uppercase; */
        font-size: 12px;
        padding: 5px 14px 5px 14px;
        font-weight: normal;
        /* border-bottom: 1px solid #ccc; */
        position: relative;
        float: inherit;
    }

    .accordion .accordion-navigation.active > a {
        border: 0;
        border-bottom: none;
    }

    .product_item .accordion .accordion-navigation > .content.active, .product_item .accordion dd > .content.active {
        background: #FFFFFF;
        display: table;
    }

    .aceptar-pedido {
        width: 100%;
    }

    .cancelar-pedido {
        width: 100%;
    }

    .footer-resumen-articulo .datos-entrega {
        position: relative;
        float: left;
        border-left: none;
        border-right: none;
        margin-top: 5px;
        color: gray;
    }
}

@media (max-width: 1024px) {

  .header {
    height: 270px;
  }

  .medium-offset-2 {
    margin-left: 6.667% !important;
  }

  .acciones {
    position: absolute;
    top: 222px !important;
  }

  .acciones ul {
    height: auto !important;
  }

  .acciones #acciones2 {
    display: none ;
  }

  .acciones ul li:nth-child(even) {
      background: #273C5B;
      height: auto;
      padding: 5px 45px;
  }

  .acciones ul li:nth-child(odd) {
      background: #314D77;
      height: auto;
      padding: 5px 45px;
  }

    .margin-top-15 {
        margin-top: 15px;
    }

    .margin-bottom-15 {
        margin-bottom: 15px;
    }

    .wizard-steps {
        /*height: 120px;*/
    }

    .wizard-steps a {
        width: 100%;
    }

    .tabs-home-title {
        width: 20%;
    }

    .mostrar-detalles .img-orden-naranja img {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .mostrar-detalles .img-orden-naranja {
        width: 25px;
        height: 18px;
        margin-top: 0;
        float: right;
    }

    .img-flecha {
        width: 20px !important;
        position: relative;
        margin-left: 50%;
        left: -10px;
        margin-top: 20px;
    }



    .mostrar-detalles {
        padding-top: 0;
    }

    .wizard-steps {
        margin: 0px 10px 40px 10px;
        padding-bottom: 50px;
        position: relative;
        clear: both;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
    }

    .accordion .accordion-navigation > a, .accordion .accordion-navigation.active > a {
        background: transparent;
        /* text-transform: uppercase; */
        /*color: white;*/
        font-size: 0.8rem;
        padding: 10px;
        font-weight: normal;
         border-bottom: 1px solid #ccc;
        position: relative;
        float: inherit;
        font-weight: bold;
    }

    .margin-bottom-negative-40{
        margin: 0px 10px -40px 10px;
    }

    .store-dashboard dl {
        padding: 10px;
        border-top: 2px solid #ED0707;
        background-color: #fff;
        margin: 0px;
        margin-top: 10px;
        /*height: 135px;*/
        font-size: 0.8em;
        margin-bottom: 10px;
        margin-right: 6px;
    }

    .accordion .accordion-navigation > a, .accordion .accordion-navigation > a {
        background: transparent;
        /* text-transform: uppercase; */
        color: #777;
        font-size: 12px;
        padding: 10px;
        font-weight: normal;
        /* border-bottom: 1px solid #ccc; */
        position: relative;
        float: inherit;
        font-weight: bold;
    }
    .title-photo-rrhh {
        padding-top: 0px;
    }

    .info-perfil {
        position: absolute;
        bottom: 20px;
    }
}

@media (max-width: 1023px) {


  .acciones {
    top: 0px !important;
  }
  .acciones #acciones1 {
    display: none !important;
  }

}

@media (max-width: 768px) {
  .store-tab .tabs a .fa {
    width: auto;
    float: none;
  }

  .medium-3 {
    width: 24.2%;
  }
}

@media (max-width: 640px) {

  #header {
    height: 300px !important;
    max-height: 300px;
  }
  .store-tab .tabs .tab-title a {
    text-align: center;
  }

  .shop_header .shop_schedule {
    position: relative;
  }
  .shop_header .shop_schedule p {
    text-align: center;
  }

  .shop_header .shop_bg {
    height: 300px !important;
  }

  .shop_header .shop_info {
    text-align: center;
  }

  .shop_header .shop_info img {
    float: none;
  }

  .shop_header .shop_info .name_cat {
    padding: 0px;
    text-align: center;
    width: 100%;
  }

  .shop_header .shop_info p {
    text-align: center;
    width: 100%;
  }

  .acciones ul li:nth-child(2n+1), .acciones ul li:nth-child(2n) {
    padding: 5px;
  }
  .acciones ul li a {
    width: 50%;
    display: table;
    margin: 0 auto;
  }

}

.panel.callout li{
    color: #777;
    font-size: 12px;
}



/* FIN PANTALLA 07 */
